# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 5
b = 5
print(a==b)
print(a is b)

True
True

*місце для текстової відповіді:
Числа в діапазоні від -5 до 256 хешуються, тому однакові числа посилатимуться на однакову комірку в пам'ятті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
#за допомогою isinstance
print(isinstance(True, bool))
print(isinstance(True, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
a = 5
b = 1.5

print("a + b = ", a+b)
print("a - b = ", a-b)
print("a : b = ", a/b)
print("a * b = ", a*b)
print("a // b = ", a//b)
print("a % b = ", a%b)
print("a ^ b = ", a**b)

a + b =  6.5
a - b =  3.5
a : b =  3.3333333333333335
a * b =  7.5
a // b =  3.0
a % b =  0.5
a ^ b =  11.180339887498949

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [6]:
a = 5
b = 1.5

# перетворення числа з рухомою комою на ціле
print("a // b = ", a // int(b))
print("a % b = ", a % int(b))

# перетворення булевого значення на ціле
с = True
print(int(с))

a // b =  5
a % b =  0
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [19]:
str1 = ''
str2 = str()

TypeError: 'str' object is not callable

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [14]:
str = 'str with apostrophe - \''
raw_str = r'raw str with apostrophe - \''

print(str)
print(raw_str)

str with apostrophe - '
raw str with apostrophe - \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [15]:
surname = "Horban"
str = f"My surname is {surname}"
print(str)

My surname is Horban

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [16]:
str = "My dog is crazy."
print(str.split())

['My', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [23]:
list1 = [-1, -2, -3]
iterable = (1, 2)
list2 = list(iterable)

print(len(list1))
print(len(list2))

3
2

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [26]:
list1 = [-1, -2, -3]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

[-1, -2, -3, 1, 2, 3]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [27]:
list = [[-1, -2, -3], [1, 2, 3], [4, 5, 6]]
print(list[-1][0])

4

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [28]:
list = [5, "str", 2.5, False, None, "str1", [], {}, set(), lambda x: x*2]
new_list = list[2:-2]
print(new_list)

[2.5, False, None, 'str1', [], {}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [30]:
tuple = (1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

Схожості:

- можуть зберігати колекцію елементів будь-якого типу даних
- елементи можуть також бути будь-якого типу
- можна отримувати елемент за індексом
- можна ітерувати циклами

Відмінності:

- список - мутабельний(crud елементів), а кортеж ні
- синтаксис списку - це [], а в кортежа ()
- завдяки немутабельності кортеж здатен працювати швидше
- кортеж можна використати в списках в якості ключів, бо він є хешований, а список ні

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [34]:
tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
print(tuple[-2::-2])

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [38]:
set1 = set()

set1.add('str')
set1.add(5)
set1.add(True)

TypeError: 'set' object is not callable

*місце для текстової відповіді
Так, вони можуть змінюватися, можна додавати, видаляти та змінювати елементи множини після її створення.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [39]:
list1 = [1, 1, 2, 67, 67, 8, 9]
set1 = set(list1)
print(set1)

TypeError: 'set' object is not callable

*місце для текстової відповіді

у множині не можуть дублюватись елементи, відповідно дублікати були прибрані

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, -3, -4, -5}

print("union: ", set1.union(set2))
print("set1 - set2: ", set1.difference(set2))
print("intersection: ", set1.intersection(set2))
print("difference: ", set1.symmetric_difference(set2))

union:  {1, 2, 3, 4, 5, -5, -4, -3}
set1 - set2:  {3, 4, 5}
intersection:  {1, 2}
difference:  {3, 4, 5, -5, -4, -3}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [41]:
dict = {}
dict[False] = False
dict[5] = "str"
dict['str'] = 5
dict[0.5] = [1, 2, 3]

print(dict)

{False: False, 5: 'str', 'str': 5, 0.5: [1, 2, 3]}

*місце для текстової відповіді

список - немутабельний, а отже, не може бути захешованим як того вимагає ключ словника

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [42]:
dict = {
    1: 'str1',
    2: {
        3: 'str3',
        4: {
            5: 'str5'
        }
    }
}
print(dict[2][4][5])

str5

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.